.article {
    margin-top: 2rem;
    padding: 0 1rem;

    .article__frontmatter {
        p {
            font-size: 0.9rem;
            color: #888;
        }

        h1 {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
        }

        h2 {
            font-size: 1.2rem;
            color: #666;
        }

    }

    .article__content {
        text-align: justify;
        color: #111;

        line-height: 1.25;
    
        h2 {
            font-size: 1.25rem;
        }
        h3 {
            font-size: 1.2rem;
        }
        h4 {
            font-size: 1.15rem;
        }
        h5 {
            font-size: 1.1rem;
        }
        p {
            margin: 1rem 0;
        }
        strong {
            font-weight: bold;
        }
        em {
            font-style: italic;
        }
        code {
            display: block;
            font-family: 'Courier New', Courier, monospace;
            font-size: 0.75rem;
            font-weight: 200;
            line-height: 1;
            margin: 1rem 0;
            text-align: left;
            background-color: #ddd;
            padding-left: 1rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            overflow: scroll;
        }
        blockquote {
            font-weight: 300;
            font-style: italic;
            font-size: 1rem;
            p {
                margin: 0 1rem;
            }
        }
        blockquote::before {
            content: "''";
            display: block;
            text-align: left;
            font-weight: 700;
        }
        blockquote::after {
            content: "''";
            display: block;
            text-align: right;
            font-weight: 700;
        }
    }

    .article__divider {
        height: 1px;
        background-color: #ddd;
        width: 70%;
        margin: 1.2rem auto;
    }
}

.linksAside {
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-around;

    a {
        font-weight: bold;
        color: inherit;
    }
    
}

@media(min-width: 767px) {
    .article {
        padding: 0 15%;
    }
    .linksAside {
        padding: 1rem 25%;
    }
}

@media (min-width: 1024px) {
    .article {
        padding: 0 25%;
    }
}

@media (min-width: 1420px) {
    .article {
        padding: 0 30%;
    }
}