$nameFontSize: 1.5rem;
$navFontSize: 1.2rem;

.header {
    padding: 1rem;
    font-family: "Karla", sans-serif;

    display: flex;
    flex-direction: row;

    box-sizing: border-box;

    a,
    a:active,
    a:visited,
    a:hover {
        color: #333;
        text-decoration: none;
        outline: none;
        background-color: none;
    }

    .header__h1 {
        font-size: $nameFontSize;
        line-height: 1.1;

        .header__h1__div {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            cursor: pointer;
        }

        .header__h1__div__char {
            display: inline-block;
            margin: 0;
            transition: all 0.1s;
            -webkit-transition: all 0.1s;
            -moz-transition: all 0.1s;
            -ms-transition: all 0.1s;
            -o-transition: all 0.1s;
        }

        .header__h1__div__char:hover {
            transform: scale(1.01);
            -webkit-transform: scale(1.01);
            -moz-transform: scale(1.01);
            -ms-transform: scale(1.01);
            -o-transform: scale(1.01);
        }
    }

    .header__div {
        font-size: $navFontSize;
        width: 100%;
        height: $nameFontSize + $nameFontSize;
        padding-bottom: 5px;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
