@font-face {
    font-family: "Lato";
    src: url("../assets/fonts/Lato-Black.ttf") format("truetype");
    font-weight: bolder;
}

@font-face {
    font-family: "Lato";
    src: url("../assets/fonts/Lato-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Lato";
    src: url("../assets/fonts/Lato-Italic.ttf") format("truetype");
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url("../assets/fonts/Lato-Light.ttf") format("truetype");
    font-weight: lighter;
}

@font-face {
    font-family: "Lato";
    src: url("../assets/fonts/Lato-Regular.ttf") format("truetype");
}

html {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #333;
}

* a,
* a:visited,
* a:hover,
* a:active {
    text-decoration: none;
    color: inherited;
}

@media (min-width: 767px) {
    html {
        font-size: 18px;
    }
}

@media (max-height: 570px) {
    html {
        font-size: 13px;
    }
}

@media (min-width: 1023px) and (min-height: 769px) {
    html {
        font-size: 20px;
    }
}

// @media (min-width: 1359px) {
//     html {
//         font-size: 21px;
//     }
// }
