.bloglist {
    padding: 1rem;

    div {
        border-bottom: 1px #eee solid;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 2rem;
    }
}

.bloglistitem {
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 1.5;
    color: #333;

    * a,
    * a:visited,
    * a:hover,
    * a:active {
        text-decoration: none;
        color: inherited;
    }

    h2 {
        font-size: 1.5rem;
        line-height: 1;
        margin-bottom: 0.25rem;
        font-weight: 500;
    }

    p.date {
        color: #888;
        font-size: 0.9rem;
    }

    p.subtitle {
        color: #555;
        font-size: 1rem;
    }

    border-bottom: 1px #eee solid;
}

@media (min-width: 767px) {
    .bloglist {
        padding: 1rem 15%;
    }
}

@media (min-width: 1023px) {
    .bloglist {
        padding: 1rem 20%;
    }
}
